#settingsView {
  position: relative;
  width: inherit;
  height: 500px;
  /* left: 0; */
  z-index: 1000;
  background-color: white;
}

#settingsView.show {
  left: 0;
}

#settingsForm {
  font-size: 0.9rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Helvetica Neue Medium', 'Helvetica', 'sans-serif';
}

#settingsForm>h2 {
  color: #5D8EE4;
  font-weight: normal;
  font-size: 1.2rem;
}

#save-settings-btn {
  height: 50px;
  width: 150px;
  background-color: #5D8EE4;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: auto;
  margin-bottom: 30px;
  font-size: 1rem;
}

#save-settings-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

#save-settings-btn:active {
  opacity: 1;
  border-color: rgb(52, 42, 190);
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, .1), inset 0 1px 4px rgba(0, 0, 0, .3);
}

#inputContainer {
  height: 180px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

#inputContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputFields {
  float: right;
  width: 132px;
}

.inputFields>input[type="number"] {
  width: 70px;
}

/**
 * Checkbox Custom 
 */
.checkboxCustom {
  width: 10px;
  /* margin: 20px 100px; */
  position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkboxCustom label {
  cursor: pointer;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #aaa;
}

/**
 * Display the tick inside the checkbox
 */
.checkboxCustom label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}

.checkboxCustom input[type="checkbox"] {
  margin: 1px;
}

/**
 * Create the hover event of the tick
 */
.checkboxCustom label:hover::after {
  opacity: 0.5;
}

/**
* Create the checkbox state for the tick
*/
.checkboxCustom input[type=checkbox]:checked+label:after {
  opacity: 1;
  background: #5D8EE4;
}

.checkboxCustom input[type=checkbox]:checked+label {
  opacity: 1;
  background: #5D8EE4;
}